<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--注解扫描，这是扫描的包路径-->
    <context:component-scan base-package="com.yang" />

    <!--导入mybatis的配置-->
    <import resource="classpath:application-mybatis.xml" />

    <!--导入springMvc配置-->
    <import resource="classpath:application-mvc.xml" />

    <!--导入shiro的配置-->
    <import resource="classpath:application-shiro.xml" />
</beans>