<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.mapper.SystemlogMapper">
  <resultMap id="BaseResultMap" type="com.yang.domain.Systemlog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="function" jdbcType="VARCHAR" property="function" />
    <result column="params" jdbcType="VARCHAR" property="params" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from systemlog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yang.domain.Systemlog">
    insert into systemlog (id, optime, ip, 
      function, params)
    values (#{id,jdbcType=INTEGER}, #{optime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, 
      #{function,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yang.domain.Systemlog">
    update systemlog
    set optime = #{optime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      function = #{function,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, optime, ip, function, params
    from systemlog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, optime, ip, function, params
    from systemlog
  </select>
</mapper>